<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<dict>
		<key>Jungle</key>
		<dict>
			<key>Portals</key>
			<dict>
				<key>StartingPoint</key>
				<dict>
					<key>AppearFromPortalWhere</key>
					<string>{ 0, 30 }</string>
					<key>Depth</key>
					<integer>0</integer>
					<key>MakeOneWay</key>
					<true/>
				</dict>
			</dict>
			<key>CollectiblesForThisLevel</key>
			<dict/>
			<key>CharactersForThisLevel</key>
			<dict>
				<key>NewPrimaryCharacter</key>
				<dict>
					<key>Name</key>
					<string>Leader</string>
				</dict>
			</dict>
			<key>Boundaries</key>
			<dict/>
			<key>Tiles</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>BackgroundColor</key>
					<string>#9FA59A</string>
					<key>Depth</key>
					<integer>-10</integer>
				</dict>
			</dict>
			<key>Objects</key>
			<dict>
				<key>InstantDeath</key>
				<dict>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>BodyCausesDamageBy</key>
					<integer>100</integer>
					<key>HitSound</key>
					<string>Drink</string>
				</dict>
				<key>Waterfall</key>
				<dict>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>ImageName</key>
					<string>waterfall</string>
					<key>CollisionBodyType</key>
					<string>wide_square</string>
					<key>OffsetCollisionBody</key>
					<string>{0,105}</string>
					<key>BodyCausesDamageBy</key>
					<integer>100</integer>
					<key>HitSound</key>
					<string>Drink</string>
					<key>Depth</key>
					<string>49</string>
					<key>ParallaxOffset</key>
					<string>{-.6,  0}</string>
				</dict>
				<key>Foreground</key>
				<dict>
					<key>Depth</key>
					<string>500</string>
					<key>ImageName</key>
					<string>rocks_grass_blurry</string>
					<key>ParallaxOffset</key>
					<string>{.6,  0}</string>
				</dict>
				<key>Platform</key>
				<dict>
					<key>ImageName</key>
					<string>rocks_grass_block</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>OffsetCollisionBody</key>
					<string>{0,-8}</string>
					<key>Depth</key>
					<string>151</string>
				</dict>
				<key>Platform_Thin</key>
				<dict>
					<key>ImageName</key>
					<string>rocks_grass_thin</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>OffsetCollisionBody</key>
					<string>{0,-8}</string>
					<key>Depth</key>
					<string>150</string>
				</dict>
				<key>Platform2</key>
				<dict>
					<key>ImageName</key>
					<string>rocks_with_waterfall</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>wide_square</string>
					<key>OffsetCollisionBody</key>
					<string>{0,157}</string>
					<key>Depth</key>
					<string>50</string>
					<key>ParallaxOffset</key>
					<string>{-.6,  0}</string>
				</dict>
				<key>Platform3</key>
				<dict>
					<key>ImageName</key>
					<string>rocks_with_waterfall</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>wide_square</string>
					<key>OffsetCollisionBody</key>
					<string>{0,157}</string>
					<key>Depth</key>
					<string>50</string>
					<key>ParallaxOffset</key>
					<string>{-.6,  0}</string>
				</dict>
				<key>Platform_No_Body</key>
				<dict>
					<key>ImageName</key>
					<string>rocks_thin</string>
					<key>Depth</key>
					<string>50</string>
					<key>ParallaxOffset</key>
					<string>{-.6,  0}</string>
				</dict>
				<key>Vine</key>
				<dict>
					<key>ImageName</key>
					<string>vine</string>
					<key>Depth</key>
					<string>99</string>
					<key>TreatAsLadder</key>
					<true/>
					<key>ClimbSpeed</key>
					<integer>3</integer>
					<key>ParallaxOffset</key>
					<string>{-.6,  0}</string>
				</dict>
				<key>Mountains</key>
				<dict>
					<key>Depth</key>
					<string>-10</string>
					<key>ParallaxOffset</key>
					<string>{-.5,  0}</string>
					<key>ImageName</key>
					<string>mountain_range</string>
				</dict>
				<key>Cloud1</key>
				<dict>
					<key>Depth</key>
					<string>-11</string>
					<key>ParallaxOffset</key>
					<string>{-.3,  0}</string>
					<key>ImageName</key>
					<string>cloud1</string>
				</dict>
				<key>Cloud2</key>
				<dict>
					<key>Depth</key>
					<string>-12</string>
					<key>ParallaxOffset</key>
					<string>{-.2,  0}</string>
					<key>ImageName</key>
					<string>cloud2</string>
				</dict>
			</dict>
			<key>ClearInventoryFor</key>
			<array>
				<string>Item</string>
			</array>
			<key>Labels</key>
			<dict/>
			<key>Images</key>
			<dict>
				<key>ThumbPad</key>
				<dict>
					<key>ImageName</key>
					<string>joystick_base</string>
					<key>Location</key>
					<string>{146, 180}</string>
					<key>LocationPhone</key>
					<string>{81, 60}</string>
					<key>LocationPhoneWide</key>
					<string>{81, 60}</string>
					<key>ResizePhone</key>
					<real>0.7</real>
					<key>Alpha</key>
					<real>0.5</real>
					<key>Depth</key>
					<integer>2000</integer>
					<key>TreatAsControlPad</key>
					<true/>
					<key>MovesBasedOnTouch</key>
					<true/>
					<key>LimitMovesToStartingSide</key>
					<true/>
				</dict>
				<key>JoyStick</key>
				<dict>
					<key>ImageName</key>
					<string>joystick_ball</string>
					<key>ResizePhone</key>
					<real>0.8</real>
					<key>Location</key>
					<string>{146, 257}</string>
					<key>LocationPhone</key>
					<string>{81, 60}</string>
					<key>LocationPhoneWide</key>
					<string>{81, 60}</string>
					<key>Alpha</key>
					<real>0.5</real>
					<key>Depth</key>
					<integer>2001</integer>
					<key>TreatAsControlPadStick</key>
					<true/>
				</dict>
			</dict>
			<key>ButtonsOnThisLevel</key>
			<dict>
				<key>Attack_Circle</key>
				<dict>
					<key>ImageName</key>
					<string>arcade_button</string>
					<key>HighLightImageName</key>
					<string>arcade_button_down</string>
					<key>DoesWhat</key>
					<string>UseWeaponAndAttack</string>
					<key>Location</key>
					<string>{940, 215}</string>
					<key>LocationPhone</key>
					<string>{430, 80}</string>
					<key>LocationPhoneWide</key>
					<string>{520, 80}</string>
					<key>ResizePhone</key>
					<real>0.5</real>
					<key>OffsetFromControlPad</key>
					<string>{0, 70}</string>
					<key>OffsetFromControlPadPhone</key>
					<string>{0, 20}</string>
					<key>Alpha</key>
					<real>0.5</real>
					<key>WillNotShareSideWithControlPad</key>
					<true/>
					<key>ShareYLocationWithControlPad</key>
					<false/>
				</dict>
				<key>Special_Attack_Circle</key>
				<dict>
					<key>ImageName</key>
					<string>arcade_button</string>
					<key>HighLightImageName</key>
					<string>arcade_button_down</string>
					<key>DoesWhat</key>
					<string>UseSpecialWeaponAndAttack</string>
					<key>Location</key>
					<string>{940, 360}</string>
					<key>LocationPhone</key>
					<string>{430, 160}</string>
					<key>LocationPhoneWide</key>
					<string>{520, 160}</string>
					<key>ResizePhone</key>
					<real>0.5</real>
					<key>OffsetFromControlPad</key>
					<string>{0, 70}</string>
					<key>OffsetFromControlPadPhone</key>
					<string>{0, 20}</string>
					<key>Alpha</key>
					<real>0.5</real>
					<key>WillNotShareSideWithControlPad</key>
					<true/>
					<key>ShareYLocationWithControlPad</key>
					<false/>
				</dict>
				<key>Jump_Circle</key>
				<dict>
					<key>ImageName</key>
					<string>arcade_button</string>
					<key>HighLightImageName</key>
					<string>arcade_button_down</string>
					<key>DoesWhat</key>
					<string>Jump</string>
					<key>Location</key>
					<string>{860, 90}</string>
					<key>LocationPhone</key>
					<string>{360, 33}</string>
					<key>LocationPhoneWide</key>
					<string>{440, 33}</string>
					<key>OffsetFromControlPad</key>
					<string>{0, -50}</string>
					<key>OffsetFromControlPadPhone</key>
					<string>{0, -20}</string>
					<key>ResizePhone</key>
					<real>0.5</real>
					<key>Alpha</key>
					<real>0.5</real>
					<key>WillNotShareSideWithControlPad</key>
					<true/>
					<key>ShareYLocationWithControlPad</key>
					<false/>
				</dict>
			</dict>
			<key>TMXFile</key>
			<string>Jungle</string>
			<key>PauseOutOfViewObjects</key>
			<true/>
			<key>Friction</key>
			<integer>5</integer>
			<key>BackgroundColor</key>
			<string>#B6CCCC</string>
			<key>Gravity</key>
			<string>{ 0,-2.0}</string>
			<key>BackgroundSound</key>
			<string>Level1</string>
			<key>RestoresAllHealth</key>
			<true/>
			<key>RemoveAnyFollowers</key>
			<true/>
			<key>OpenInventoryWhenLevelBegins</key>
			<true/>
			<key>RemovePreviouslyEquippedWeapons</key>
			<true/>
			<key>DisableCentering</key>
			<false/>
			<key>DisableCenteringOnY</key>
			<true/>
			<key>PanTimeBetweenPortals</key>
			<integer>1</integer>
			<key>CenteringOffset</key>
			<string>{0,768}</string>
			<key>CenteringOffsetPhone</key>
			<string>{0,320}</string>
			<key>ResizeLevelMoreForPhone</key>
			<real>0.9</real>
		</dict>
	</dict>
</dict>
</plist>
